body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: aliceblue;
    color: crimson;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    cursor: pointer;
    margin-left: 160px;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 290px;
}

nav a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ,font-size 0.3s;
}

nav a:hover{
    color: crimson;
    font-size: 1.1.rem;
}

#search-icon {
    cursor: pointer;
}